.carousel {
    user-select: none;
    max-height: 100vh;
    overflow: hidden;

    .container {
        padding: 0;
        max-width: 100%;
    }

    .group {

    }

    .flickity-viewport {
        width: 100%;
    }

    .slide {
        user-select: none;
        width: 100%;
        max-height: 100vh;
        position: relative;
        outline: none;

        a {
            user-select: none;
            text-decoration: none;
        }

        img {
            user-select: none;
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }

        .info {
            position: absolute;
            width: 100%;
            bottom: 0;
            top: calc(7.65em / 2);
            left: 0;
            color: #fff;
            padding: 2em;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .title {
            @include fluid('font-size', 1.75rem, 5rem);
            font-weight: 600;
            text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.05), 0px -5px 35px rgba(0, 0, 0, 0.08);
            animation: carousel-title-enter 1s forwards;
            animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);

            @keyframes carousel-title-enter {
                from {
                    opacity: 0;
                    transform: translate(0, 1em) skewY(5deg);
                } to {
                    opacity: 1;
                    transform: translate(0, 0) skewY(0deg);
                }
            }
        }

        .description {
            @include fluid('font-size', 1rem, 1.75rem);
            font-weight: 500;
        }

        .button {
            margin: 0.5em 0;
        }
    }
    @media (max-width: 900px) {

    }

    @media (max-width: 600px) {

    }

}
