.impression {
    padding: 3em 0;
    //box-shadow: $box-shadow-3;

    .container {
        padding: 0;
    }

    .group {
        align-items: center;
    }

    .details {
        flex: 3;

        .text {
            padding: 4vw;

            .description {
                margin: 2em 0;
            }
        }
    }

    .image {
        flex: 2;

        svg {
            width: 100%;

            .cls-1 {
                fill: none;
            }
            .cls-2 {
                clip-path: url(#clip-path);
            }
            image {
                transform: translate(13%, 0) scale(0.19);
            }
        }
    }
}
